---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import GridWidget from "../components/GridWidget.astro";
---

<Layout title="Welcome to Astro.">
  <div class="grid">
    <main class="grid__main">
      <h1>Mythos</h1>
      <p>
        Voluptua et gubergren veniam ut tempor takimata amet takimata et sit
        nonumy. Rebum dignissim dolore elitr nonumy dolor vero est magna nonummy
        est velit no kasd. Consequat takimata adipiscing ea accusam eirmod sed
        qui dolor sed sed consequat quis minim. At amet eos ipsum at sed amet
        accusam eum volutpat laoreet justo nonumy. Velit voluptua vel te.
        Dolores ipsum est volutpat justo voluptua invidunt et diam clita. Amet
        dolore elitr diam aliquyam suscipit stet veniam tempor vel invidunt.
        Eirmod minim aliquyam magna et voluptua kasd lobortis dolor ipsum et sit
        sed et rebum.
      </p>
    </main>

    <aside class="grid__sidebar">
      <GridWidget
        title="More Info"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis obcaecati quo dolor dicta, id veniam? Perferendis repudiandae porro modi libero corporis? Dolore nisi repellendus optio ducimus sunt quasi non tempora?"
      />
      <GridWidget
        mod="green"
        title="Check it out!"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis obcaecati quo dolor dicta, id veniam? Perferendis repudiandae porro modi libe"
      />
      <GridWidget
        title="Isn't this fun?"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis obcaecati quo dolor dicta, id veniam? Perferendis repudiandae porro modi libero corporis? Dolore nisi repellendus optio ducimus sunt quasi non tempora?  dicta, id veniam? Perferendis repudiandae porro modi libero corporis? Dolore nisi repellendus"
      />
    </aside>
  </div>
</Layout>

<style></style>
