---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
      <h1>Mythos</h1>
      <p>
        Voluptua et gubergren veniam ut tempor takimata amet takimata et sit nonumy. Rebum dignissim dolore elitr nonumy dolor vero est magna nonummy est velit no kasd. Consequat takimata adipiscing ea accusam eirmod sed qui dolor sed sed consequat quis minim. At amet eos ipsum at sed amet accusam eum volutpat laoreet justo nonumy. Velit voluptua vel te. Dolores ipsum est volutpat justo voluptua invidunt et diam clita. Amet dolore elitr diam aliquyam suscipit stet veniam tempor vel invidunt. Eirmod minim aliquyam magna et voluptua kasd lobortis dolor ipsum et sit sed et rebum.
      </p>
    </main>

    <aside>
      <h2>
        More Info
      </h2>
      <p>
        Et nonumy vero ut sadipscing. Invidunt sed voluptua sit iusto ipsum nulla dolore iriure dolor magna sadipscing dolores no nonumy dolor lorem. Lorem et qui sit kasd dolor diam justo sed feugait dolor rebum aliquam duo sit sea et invidunt. Dolore nonumy nonummy eos rebum et vero rebum erat odio est ea erat ut labore et et. Diam et rebum vel tempor kasd et rebum sed doming. Dolor no nobis tempor et et sit odio dolor ut adipiscing lorem dolore takimata vel esse no. Erat vel ipsum aliquyam dolor adipiscing et voluptua. Ut minim dolor volutpat dolor ipsum amet labore clita.
      </p>
    </aside>
</Layout>

<style>
	
</style>
