---
export interface Props {
  title: string;
  text: string;
  mod?: string;
}

const { title, text, mod = "" } = Astro.props;
---

<div class={`grid__widget${mod ? `--${mod}` : ""}`}>
  <h2>{title}</h2>
  <p>{text}</p>
</div>
