@use '../util' as u;

// placeholder
%widget {
  padding: u.rem(16);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  // max-width: 1000px;
  width: min(100% - u.rem(40), u.rem(1000));
  margin-inline: auto;
  // font-size: 2em;


  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  // @media (max-width: 899px) {
  //   padding: 0 20px;
  // }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 99%, 33%);


    @include u.breakpoint(medium) {
      background-color: hsl(120, 100%, 16%);
    }

    @include u.breakpoint(large) {
      background-color: hsl(39, 100%, 35%);
    }

    @include u.breakpoint(large) {
      background-color: hsl(0, 99%, 28%);
    }
  }

  &__sidebar {


    @include u.breakpoint-down(medium) {
      text-align: center;
    }

    @include u.breakpoint-down(small) {
      text-align: right;
    }

    // @include u.breakpoint(large) {
    //   text-align: left;
    // }
  }

  &__widget {
    // $widget: &;
    background-color: hsl(300, 100%, 30%);
    padding: u.rem(16);

    &--green {
      // @extend #{$widget};
      // @extend %widget; // using placeholder here
      // @extend .grid__widget;
      background-color: hsl(120, 100%, 27%);
    }

  }
}